@import "tags";
@import "nav";
@import "sidebar";
@import "carousel";
@import "pages/index";
@import "pages/about";
@import "pages/gallery";
@import "pages/contact";
@import "animations/sidebar";

body {
  font-family: "Roboto", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;

  height: 100vh;

  width: 80vw;
  &.-main {
    width: 75vw;
  }

  overflow: hidden;

  @media only screen and (max-width: 600px) {
    width: 100vw;
    height: auto;
    overflow: inherit;

    &.-main {
      width: 100vw;
    }
  }
}

.wrapper {
  display: flex;
}

.sectionTitle {
  margin-top: 0;
}

.main-content {
  flex-grow: 1;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: auto;

  &__section {
    overflow: hidden;
    height: 100%;
    scroll-snap-align: start;

    .container {
      height: 100%;

      .row {
        height: 100%;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    height: auto;
    overflow-y: inherit;

    &__section {
      overflow-y: inherit;
      height: auto;
      scroll-snap-align: start;
    }
  }
}
