---
layout: side_bar.njk
images:
  row1:
    - "http://picsum.photos/id/1049/600/600"
    - "http://picsum.photos/id/1060/600/600"
    - "http://picsum.photos/id/1072/600/600"
  row2:
    - "http://picsum.photos/id/1074/600/600"
    - "http://picsum.photos/id/122/600/600"
    - "http://picsum.photos/id/129/600/600"
---
<section class="main-content__section" id="about">
    <div class="container">
        <div class="row about__container">
            <div class="col m6 push-m6 hide-on-small-only about__profile">
                <img class="profile" src="https://picsum.photos/id/1005/480/854" alt="">
            </div>
            <div class="col m6 pull-m6 about__text">
                <h2 class="sectionTitle">About Me</h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, suscipit! Aspernatur doloribus
                    iusto suscipit natus maiores, aliquam sunt ipsam quidem eveniet ex aperiam. Debitis illo temporibus,
                    sequi natus suscipit quidem esse modi, amet ullam commodi similique quasi recusandae aut quis ipsam
                    nostrum, dignissimos incidunt illum? Vero facilis deleniti culpa expedita consequatur aspernatur
                    eligendi rem, labore delectus quibusdam asperiores esse sequi eveniet tenetur odit adipisci corporis
                    hic
                    fugiat, aliquam sit eaque nobis molestias. Excepturi voluptatibus ad, ullam accusantium iusto
                    tempore id
                    veniam itaque sit quas error nesciunt minima quam tenetur, dignissimos molestias aliquid sequi quis
                    iure! Aspernatur, animi! Ipsum, voluptate ea!
                </p>
            </div>
        </div>
    </div>
</section>

{% include 'gallery.njk' %}