---
layout: side_bar.njk
page_id: "about"
page_title: 'Portfolio | About'
---

<section class="main-content__section" id="about">
  <div class="container">
    <div class="row about__container">
      <div class="col m6 push-m6 hide-on-small-only about__profile">
        <img class="profile" src="https://picsum.photos/id/1005/480/854" alt="" />
      </div>
      <div class="col m6 pull-m6 about__text">
        <h2 class="sectionTitle">About Me</h2>
        <img class="profile show-on-small hide-on-med-and-up" src="https://picsum.photos/id/1005/480/480" alt="" />
        <p>
          I loved photography since 2008. I fell in love with the colors and the beauty through the lens. I found
          passion in photography through a simple flower.
        </p>
        <p>
          Inspiration through the lens is the only motivation I have every time I pick up the camera. Through my
          photographs, I hope to inspire people.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="main-content__section galleryCssGrid" id="galleryCssGrid">
  <div class="container">
    <h2 class="sectionTitle gallery__title animate delay500ms" data-animate="showFromBottomToTOp">Gallery</h2>
    <div class="gallery__cssGrid animate delay500ms" data-animate="showFromBottomToTOp">
      {% for img in images.row1 %}
      <div class="gallery__image-container-cssGrid">
        <img src="{{ img }}" class="gallery__image-cssGrid materialboxed responsive-img" alt="" />
      </div>
      {% endfor %} {% for img in images.row2 %}
      <div class="gallery__image-container-cssGrid">
        <img src="{{ img }}" class="gallery__image-cssGrid materialboxed responsive-img" alt="" />
      </div>
      {% endfor %}
    </div>
  </div>
</section>
