---
layout: main_side_bar.njk
page_id: 'home'
---
<section id="home" class="section">
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="https://picsum.photos/id/1045/1500/600" class="slider__image" />
        <div class="caption center-align show-on-small hide-on-med-and-up">
          <h3>J Azares Photography</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://picsum.photos/id/1041/1500/600" class="slider__image" />
        <div class="caption center-align show-on-small hide-on-med-and-up">
          <h3>J Azares Photography</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://picsum.photos/id/1051/1500/600" class="slider__image" />
        <div class="caption center-align show-on-small hide-on-med-and-up">
          <h3>J Azares Photography</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://picsum.photos/id/1039/1500/600" class="slider__image" />
        <div class="caption center-align show-on-small hide-on-med-and-up">
          <h3>J Azares Photography</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>
</section>