---
page_id: 0
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>

  <body class="page_{{ page_id }}">
    {{ content | safe }}

    <div id="modal1" class="modal">
      <div class="modal-content">
        <h3>Terms and Conditions</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla nihil quasi repudiandae repellendus provident
          architecto fugiat, totam voluptatum, odit ratione reiciendis impedit earum reprehenderit culpa natus veniam
          aliquam hic! Consequatur iure cum assumenda perferendis, quos harum aliquid possimus impedit nobis numquam
          ipsam aut fugit blanditiis, voluptatem nulla cupiditate quibusdam sed corporis! Quidem maxime, vero excepturi
          voluptatum ab est ipsa odio blanditiis eaque error sequi necessitatibus illo corporis natus asperiores
          officiis, rem fuga optio deserunt debitis earum doloribus? Voluptatibus corrupti eum, ipsa quaerat, nam fugiat
          aut ullam vero doloribus voluptatem eveniet! Hic quisquam modi quae quas, facere quaerat libero alias aliquam.
        </p>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla nihil quasi repudiandae repellendus provident
          architecto fugiat, totam voluptatum, odit ratione reiciendis impedit earum reprehenderit culpa natus veniam
          aliquam hic! Consequatur iure cum assumenda perferendis, quos harum aliquid possimus impedit nobis numquam
          ipsam aut fugit blanditiis, voluptatem nulla cupiditate quibusdam sed corporis! Quidem maxime, vero excepturi
          voluptatum ab est ipsa odio blanditiis eaque error sequi necessitatibus illo corporis natus asperiores
          officiis, rem fuga optio deserunt debitis earum doloribus? Voluptatibus corrupti eum, ipsa quaerat, nam fugiat
          aut ullam vero doloribus voluptatem eveniet! Hic quisquam modi quae quas, facere quaerat libero alias aliquam.
        </p>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla nihil quasi repudiandae repellendus provident
          architecto fugiat, totam voluptatum, odit ratione reiciendis impedit earum reprehenderit culpa natus veniam
          aliquam hic! Consequatur iure cum assumenda perferendis, quos harum aliquid possimus impedit nobis numquam
          ipsam aut fugit blanditiis, voluptatem nulla cupiditate quibusdam sed corporis! Quidem maxime, vero excepturi
          voluptatum ab est ipsa odio blanditiis eaque error sequi necessitatibus illo corporis natus asperiores
          officiis, rem fuga optio deserunt debitis earum doloribus? Voluptatibus corrupti eum, ipsa quaerat, nam fugiat
          aut ullam vero doloribus voluptatem eveniet! Hic quisquam modi quae quas, facere quaerat libero alias aliquam.
        </p>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla nihil quasi repudiandae repellendus provident
          architecto fugiat, totam voluptatum, odit ratione reiciendis impedit earum reprehenderit culpa natus veniam
          aliquam hic! Consequatur iure cum assumenda perferendis, quos harum aliquid possimus impedit nobis numquam
          ipsam aut fugit blanditiis, voluptatem nulla cupiditate quibusdam sed corporis! Quidem maxime, vero excepturi
          voluptatum ab est ipsa odio blanditiis eaque error sequi necessitatibus illo corporis natus asperiores
          officiis, rem fuga optio deserunt debitis earum doloribus? Voluptatibus corrupti eum, ipsa quaerat, nam fugiat
          aut ullam vero doloribus voluptatem eveniet! Hic quisquam modi quae quas, facere quaerat libero alias aliquam.
        </p>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla nihil quasi repudiandae repellendus provident
          architecto fugiat, totam voluptatum, odit ratione reiciendis impedit earum reprehenderit culpa natus veniam
          aliquam hic! Consequatur iure cum assumenda perferendis, quos harum aliquid possimus impedit nobis numquam
          ipsam aut fugit blanditiis, voluptatem nulla cupiditate quibusdam sed corporis! Quidem maxime, vero excepturi
          voluptatum ab est ipsa odio blanditiis eaque error sequi necessitatibus illo corporis natus asperiores
          officiis, rem fuga optio deserunt debitis earum doloribus? Voluptatibus corrupti eum, ipsa quaerat, nam fugiat
          aut ullam vero doloribus voluptatem eveniet! Hic quisquam modi quae quas, facere quaerat libero alias aliquam.
        </p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
      </div>
    </div>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ETP5JS60N1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-ETP5JS60N1");
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/scripts/main.js"></script>
  </body>
</html>
