<header class="mainHeader">
  <div class="container nav__container">
    <div class="mainContainer">
      <a href="/" class="siteLogo__link"><img src="/img/logo_white.png" alt="Site Logo" class="siteLogo__image" /></a>

      <div class="hide-on-small-only nav__wrapper">
        <ul class="nav">
          <li class="nav-item"><a href="/" class="nav-link home">Home</a></li>
          <li class="nav-item"><a href="/about" class="nav-link about">About Me</a></li>
          <li class="nav-item"><a href="/gallery" class="nav-link gallery">Gallery</a></li>
          <li class="nav-item"><a href="/contact" class="nav-link contact">Contact</a></li>
        </ul>
      </div>

      <a
        href="#"
        data-target="slide-out"
        id="burgerMenu"
        class="sidenav-trigger show-on-small hide-on-med-and-up nav-link nav-link__mobileMenu"
        ><i class="material-icons">menu</i></a
      >
    </div>

    <!-- Slide Out Menu on Mobile -->
    <ul id="slide-out" class="sidenav">
      <li>
        <div class="user-view">
          <div class="background">
            <img src="https://picsum.photos/id/1041/1500/600" />
          </div>
          <a href="#user"><img class="circle" src="/img/profile.svg" /></a>
          <a href="#name"><span class="white-text name">Jobert Azares</span></a>
          <a href="#email"><span class="white-text email">jobert.azares@gmail.com</span></a>
        </div>
      </li>
      <li>
        <a href="/" class="waves-effect">Home</a>
      </li>
      <li>
        <a href="/about" class="waves-effect">About Me</a>
      </li>
      <li>
        <a href="/gallery" class="waves-effect">Gallery</a>
      </li>
      <li>
        <a href="/contact" class="waves-effect">Contact</a>
      </li>
    </ul>
  </div>
</header>
