@keyframes showFromRightToLeft {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

.showFromBottomToTOp {
  animation: showFromBottomToTOp 500ms ease-in forwards;
  z-index: 1000;
}

.delay100ms {
  animation-delay: 100ms;
}

@for $i from 1 through 5 {
  .delay#{$i}00ms {
    animation-delay: #{$i}00ms;
  }
}

@keyframes showFromBottomToTOp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
